<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">App colegio</span>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0">
            <ul class="list-group lateral-menu">
                <li class="list-group-item" routerLinkActive="active" routerLink="/student"><i
                        class="fas fa-user-graduate fa-fw mr-2"></i>Estudiantes</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="/teacher"><i
                        class="fas fa-chalkboard-teacher fa-fw mr-2"></i>Profesores</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="/course"><i
                        class="fas fa-users fa-fw mr-2"></i>Cursos</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="/test"><i
                        class="far fa-file-alt fa-fw mr-2"></i>Pruebas</li>
            </ul>
        </div>
        <div class="col mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>