<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">App colegio</span>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0">
            <ul class="list-group lateral-menu">
                <li class="list-group-item" routerLinkActive="active" routerLink="/student">Estudiantes</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="/teacher">Profesores</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="/course">Cursos</li>
                <li class="list-group-item" routerLinkActive="active" routerLink="/test">Pruebas</li>
            </ul>
        </div>
        <div class="col mt-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>