<div class="row my-3">
  <div class="col-10 offset-1">
    <h4>Pruebas</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-10 offset-1 text-right">
    <button type="button" class="btn btn-primary" routerLink="/new-test">Agregar prueba</button>
  </div>
</div>
<div class="row mt-4" *ngIf="loading">
  <div class="col-12 text-center">
    <img src="../../assets/img/big_loading.gif">
  </div>
</div>

<div class="row mt-4" *ngIf="!loading && tests.length === 0">
  <div class="col-10 offset-1 text-center">
    <div class="alert alert-primary" role="alert">
      No se encontraron profesores
    </div>
  </div>
</div>


<div *ngIf="!loading && tests.length > 0">
  <div class="row list-header">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-2">ID</div>
        <div class="col-3">Nombre</div>
        <div class="col-2">ID curso</div>
        <div class="col-3">Curso</div>
        <div class="col-2 text-center">Acciones</div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngFor="let test of tests">
    <div class="col-10 py-2 offset-1 list-content">
      <div class="row">
        <div class="col-2">
          {{test.id_test}}
        </div>
        <div class="col-3">
          {{test.name}}
        </div>
        <div class="col-2">
          {{test.id_course}}
        </div>
        <div class="col-3">
          {{test.course}}
        </div>
        <div class="col-2 text-center">
          <i class="far fa-edit mr-2" routerLink="/edit-test/{{test.id_test}}" ngbTooltip="Editar"></i>
          <i class="far fa-trash-alt mr-2" (click)="delete(test.id_test)" ngbTooltip="Eliminar"></i>
          <i class="fas fa-clipboard-check" routerLink="/test-view/{{test.id_test}}"
            ngbTooltip="Asignar resultados"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="!loading && tests.length > 0">
    <div class="col-10 py-2 offset-1 text-left">
      {{tests.length + ((tests.length === 1) ? ' prueba encontrada': ' pruebas encontradas')}}
    </div>
  </div>
</div>