<div class="row my-3">
  <div class="col-10 offset-1">
    <h4>Profesores</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-10 offset-1 text-right">
    <button type="button" class="btn btn-primary" routerLink="/new-teacher">Agregar profesor</button>
  </div>
</div>
<div class="row mt-4" *ngIf="loading">
  <div class="col-12 text-center">
    <img src="../../assets/img/big_loading.gif">
  </div>
</div>

<div class="row mt-4" *ngIf="!loading && teachers.length === 0">
  <div class="col-10 offset-1 text-center">
    <div class="alert alert-primary" role="alert">
      No se encontraron profesores
    </div>
  </div>
</div>

<div *ngIf="!loading && teachers.length > 0">
  <div class="row list-header">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-2">ID</div>
        <div class="col-4">Nombre</div>
        <div class="col-4">Apellido</div>
        <div class="col-2 text-center">Acciones</div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngFor="let teacher of teachers">
    <div class="col-10 py-2 offset-1 list-content">
      <div class="row">
        <div class="col-2">
          {{teacher.id_teacher}}
        </div>
        <div class="col-4">
          {{teacher.name}}
        </div>
        <div class="col-4">
          {{teacher.lastname}}
        </div>
        <div class="col-2 text-center">
          <i class="far fa-edit mr-2" routerLink="/edit-teacher/{{teacher.id_teacher}}"></i>
          <i class="far fa-trash-alt" (click)="delete(teacher.id_teacher)"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="!loading && teachers.length > 0">
    <div class="col-10 py-2 offset-1 text-left">
      {{teachers.length + ((teachers.length === 1) ? ' profesor encontrado': ' profesores encontrados')}}
    </div>
  </div>
</div>