<div class="row my-3">
  <div class="col-10 offset-1">
    <h4>Estudiantes</h4>
  </div>
</div>

<div class="row mb-3">
  <div class="col-10 offset-1 text-right">
    <button type="button" class="btn btn-primary">Agregar estudiante</button>
  </div>
</div>
<div class="row mt-4" *ngIf="loading">
  <div class="col-12 text-center">
    <img src="../../assets/img/big_loading.gif">
  </div>
</div>
<div *ngIf="!loading">
  <div class="row list-header">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-2">ID</div>
        <div class="col-4">Nombre</div>
        <div class="col-4">Apellido</div>
        <div class="col-2 text-center">Acciones</div>
      </div>
    </div>
  </div>
  <div class="row mt-3" *ngFor="let st of students">
    <div class="col-10 py-2 offset-1 list-content">
      <div class="row">
        <div class="col-2">
          {{st.id_student}}
        </div>
        <div class="col-4">
          {{st.name}}
        </div>
        <div class="col-4">
          {{st.lastname}}
        </div>
        <div class="col-2 text-center">
          <i class="far fa-edit mr-2"></i>
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-2" *ngIf="!loading && students.length > 0">
    <div class="col-10 py-2 offset-1 text-left">
      {{students.length + ((students.length === 1) ? ' estudiante encontrado': ' estudiantes encontrados')}}
    </div>
  </div>
</div>